
<div class = "masthead">
    <ul class="language-nav">
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Ruby</a></li>
    </ul>
    <div><img src="assets/AA_Times_Logo.png"></div>
    <ul class="masthead-links">
        <li><time>Thursday, June 25, 2020</time></li> 
        <li><i class="fa fa-newspaper"></i><a>Today’s Paper</a></li>  
        <li><i class="fa fa-video"></i><a>Video</a></li> 
        <li><button>77°F</button></li> 
        <li><button>AAO <strong>+100%</strong></button></li>
    </ul>
</div>